html {
	height: 100%;
}

body {
	color: #fff;
	background: #000;
	font-family: 'Pretendard', sans-serif;
	line-height: 1.5;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
}

body>* {
	margin: 0 auto;
	width: 100%;
	max-width: 75ch;
}

main {
	flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'geistMono', sans-serif;
}

a,
a:link,
a:visited {
	color: #0bf;
	transition: color .2s ease;
}

a:hover {
	color: #09d;
}

a:active {
	color: #057;
}

nav {
    margin-top: 2rem;
    display: flex;
    /* flex: 1 1 0%; */
    justify-content: flex-end;
    gap: 10px;
}

header {
	border-bottom: 1px solid #555;
}

h1.blog-title a {
	text-decoration: none;
}

h2.list-title a {
	color: #fff;
	text-decoration: none;
}

h1.blog-title a:hover,
h2.list-title a:hover {
	text-decoration: underline;
}

h2.list-title a:hover {
	color: #ddd;
}

code {
	font: normal 1em 'geistMono', monospace;
	color: #fb557e;
	background: #222;
	padding: 0 .33em;
	border-radius: .33em;
}

hr {
	border: none;
	border-top: 1px solid #555;
}

footer {
	color: #ddd;
	margin: 2em auto 0;
	box-sizing: border-box;
	overflow: auto;
  	display: flex;
  	justify-content: center;
}

footer .postscript {
	font-style: italic;
}